<h1>Time Tracker.</h1>
<% if current_user %>
    <ul class="nav nav-tabs" style="margin-top: 15px;">
        <li class="nav-item nav-link <%= active?(root_path)%>">
            <%= link_to "Home", root_path, style:"text-decoration: none;" %>
        </li>

        <%= render "shared/employee_nav" if employee? %>

        <%= render "shared/audit_log_tab" if admin? %>
        

    
        <li class="nav-item dropdown ml-md-auto nav">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Options</a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
           <% if admin? %>
                    <%= link_to "GOTO: Admin Dashboard", admin_root_path, class:"dropdown-item" %>
                <div class="dropdown-divider"></div> 
            <% end %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            </div>
        </li>
        
    </ul>
<% end %>




    