<%= form_for @post do |f| %>

    <div class="row">
		<div class="col-md-12">
            <%= f.label :Date %>
            <%= f.date_field :date, class:"form-control", required: true %>
        </div>
    </div>

    <div class="row">
		<div class="col-md-12">
            <%= f.label :Rationale %>
            <%= f.text_area :rationale, class:"form-control", required: true %>
        </div>
    </div>

    <div class="row">
		<div class="col-md-12">
            <%= render partial: "status", locals: {f: f} if current_user.type == "AdminUser" %>
        </div>
    </div>
    <br/>

    <div class="row">
		<div class="col-md-12">
            <%= f.submit "Save", class:"btn btn-primary form-control" %>
        </div>
    </div>
<% end %>


